.tab-bar {
  display: flex;
  background-color: #ff990077;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tab-button {
  color: #ffffff;
  text-align: center;
  flex: 1;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  background: transparent;
}

.tab-button.active {
  background-color: #FF9700;
}

.tab-content {
  padding-top: 80px; /* Añadir espacio para el contenido */
}
