.tab-barContainer {
  display: flex;
  width: 25rem;
  margin-left: 3%;
  justify-content: center;
  /* background-color: blue; */
}


.tab-button-div {
  width: 50%;
  /* background-color: aquamarine; */
}

.tab-button {
  position: relative;
  width: 50%;
  width: auto;
  color: #7a7976;
  text-align: left;
  font-size: 30px;
  flex: 1;
  padding: 10px 0;
  cursor: pointer;
  transition: color 0.3s ease;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
}

.tab-button.active {
  color: #005A96;
}

.tab-indicator {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: #005A96;
}


