<app-logo [size]="'small'"></app-logo>
<app-input-client (nameChanged)="OnUpdateName($event)" (selectedTable)="onUpDateTableInOrder($event)"></app-input-client>
<app-tab-bar [activeTabInTabComponent]="activeTab" [tabMenu]="tabMenu" (tabChange)="onTabChange($event)">
  <div class="divMenuAndOrder">
    <div *ngIf="activeTab === 'Desayuno'">
      <app-menu [activeTabInMenu]="activeTab" (productAdded)="onProductClicked($event)"></app-menu>
    </div>
    <div *ngIf="activeTab === 'Almuerzo'">
      <app-menu [activeTabInMenu]="activeTab" (productAdded)="onProductClicked($event)"></app-menu>
    </div>
    <app-orders [tableNumber]="tableNumber" [clientName]="clientName" [productOrderList]="productOrderList"> </app-orders>
  </div>
</app-tab-bar>
