.menu-container {
  width: 400px;
  border-radius: 10px;
  border-bottom: 1px solid #BEADA7;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.product-div {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-size: 20px;
  margin-left: 2%;
  margin-bottom: 10px;
  /* background-color: blue; */
}

.divButton {
  margin-left: auto;
}

.product-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
 justify-content: space-between;
}

.product-name,
.product-price {
  margin: 0;
}
