<p>login works!</p>

<button routerLink="/cook-component" routerLinkActive="active">Cocina</button>
<button routerLink="/waiter-component" routerLinkActive="active"> Mesero </button>
<button routerLink="/admin-component" routerLinkActive="active"> Administrador </button>

<form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
  <label for="nombre">Correo</label>
  <input type="email" id="email" formControlName="user" required>

  <label for="password">Contraseña</label>
  <input type="password" id="password" formControlName="password" required>

  <button routerLink="/waiter-component" routerLinkActive="active" type="submit">Iniciar Sesión</button>
</form>
