<div class="login-container">
  <app-logo [size]="'large'"></app-logo>
  <!-- <button routerLink="/cook-component" routerLinkActive="active">Cocina</button>
  <button routerLink="/waiter-component" routerLinkActive="active">Mesero</button>
  <button routerLink="/admin-component" routerLinkActive="active">Administrador</button> -->
  <main class="login-main">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <div class="inputContainer">
        <label for="email" class="labelForm form-element">Correo</label>
        <input type="email" id="email" class="inputForm form-element" formControlName="email" required placeholder="Correo demo: waiter@bq.com">
        <div class="requiredCamp" *ngIf="showPasswordMessage()"> El correo es requerido </div>

        <label for="password" class="labelForm form-element">Contraseña</label>
        <input type="password" id="password" class="inputForm form-element" formControlName="password" required placeholder="Contraseña demo: 123456">
        <div class="requiredCamp" *ngIf="showPasswordMessage()"> La contraseña es requerida </div>

        <div class="requiredCamp" *ngIf="incorrectCredentials"> {{incorrectCredentials}} </div>

      </div>
      <div class="button-container">
        <button class="button form-element" routerLinkActive="active" type="submit">Iniciar Sesión</button>
      </div>
    </form>
  </main>
</div>
