/*---------- BIG CONTAINER STYLES-------*/
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------FORM ELEMENT STYLES ------------*/
.form-element {
  width: 25rem;
  min-width: 80%;
  flex-shrink: 0;
  font-size: 1.5rem;
}

.inputForm {
  border-radius: 15px;
  border: 1px solid #000;
  background: #FFFCFB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  height: 3rem;
}

.labelForm {
  color: #005A96;
  font-weight: 600;
}

.button {
  border-radius: 20px;
  background: #005A96;
  font-style: normal;
  font-weight: 400;
  color: #FED236;
  margin-bottom: 1rem;
  height: 3rem;
}

/*------ SMALL CONTAINER STYLES ------*/
.logo-container,
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.requiredCamp {
  color: red;
  font-size: 1.563rem;
  margin: 0;
}
