.general-btn {
  width: 411.839px;
  height: 70.736px;
  border-radius: 31.438px;
  background: #005A96;
  text-align: center;
  color: #FFFCFB;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
