.product-div {
  display: flex;
  align-items: center;
  margin: 0px;
}

p {
  font-size: 20px;
}


.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-name {
  flex: 1;
  white-space: wrap;
  /* Evita que el nombre del producto se parta en varias líneas */
  overflow: hidden;
  font-size: 20px;
  text-overflow: ellipsis;
  /* Agrega puntos suspensivos si el nombre es demasiado largo */
  /* margin-left: 5%; */
  width: 25%;
}

.product-price {
  width: 20%;
  font-size: 20px;
  align-self: flex-start;
}


.divButton {
  width: 80px;
  display: flex;
  /* margin-left: 10px; */
}
