<div class="menu-container">

  <h3 class="product-title">Café</h3>
  <div class="product-div" *ngFor="let product of productList">
    <div class="product-and-prize" *ngIf="showByName(product, 'Café')">
      <p class="product-item name">{{ product.name }}</p>
      <p class="product-item price">$ {{ product.price }}</p>
      <app-button-add> </app-button-add>
    </div>
  </div>

  <h3 class="product-title">Jugos</h3>
  <div class="product-div" *ngFor="let product of productList">
    <div class="product-and-prize" *ngIf="showByName(product, 'Jugo')">
      <p class="product-item name">{{ product.name }}</p>
      <p class="product-item price">$ {{ product.price }}</p>
      <app-button-add> </app-button-add>
    </div>
  </div>

  <h3 class="product-title">Sandwiches</h3>
  <div class="product-div" *ngFor="let product of productList">
    <div class="product-and-prize" *ngIf="showByName(product, 'Sandwich')">
      <p class="product-item name">{{ product.name }}</p>
      <p class="product-item price">$ {{ product.price }}</p>
      <app-button-add> </app-button-add>
    </div>

  </div>
</div>

