
/* .logoBurgerQueen {
  display: flex;
} */

.logo-small {
  width: 150px;
  height: 150px;
}

.logo-large {
  height: 40vh;
  padding-top: 3rem;
}

.logo-div {
  display: flex;
  justify-content: center;
}
