/* * {
  border: red;
  border-style: dotted;
} */

p {
  height: fit-content;
  margin: 0px;
}

.productsOrder {
  width: 22rem;
}

.tab-content {
  width: 23rem;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  color: #005A96;
  margin: 0px;
}

.itemAndPrice {
  /* background-color: pink; */
  width: 22rem;
  color: #005A96;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}

.order-section {
  background-color: white;
  border-radius: 10px;
  border: 5px solid #005A96;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10px;
}

.clientAndTable {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-items: space-around;
  color: #005A96;
  font-size: 23px;
}

.btn-send-order {
  width: 300px;
  height: 70.736px;
  flex-shrink: 0;
  border-radius: 31.438px;
  background:  #005A96;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  color: #FED236;
  align-self: center;
}
